doctype html
html
	head
		title Shepherd Console
		meta(charset="utf-8")
		script(src="/static/bling.js")
		script.
			window.opts = JSON.parse('!{opts}');
			window.tree = JSON.parse('!{tree}');
			$(document).ready(function() {
				$("td.opts").append($.toHTML(window.opts, false))
				$("td.tree").append($.toHTML(window.tree, false))
			})
		script(src="/static/index.js")
		style.
			a:visited { color: blue; }
			table.tree td { text-align: center; }
			table.tree { width: 100%; }
	body
		table(border=1)
			tr
				th(align=center,colspan=2) Shepherd Console
			tr
				td.k(valign='top',align='right') Hostname:
				td #{hostname}
			tr
				td.k(valign='top',align='right') Configuration:
				td(class='opts')
			tr
				td.k(valign='top',align='right') Process Tree:
				td(class='tree')
			tr
				td.k(valign='top',align='right') Servers:
				td.servers
					a(href="/servers/restart") Restart Servers
			tr
				td.k(valign='top',align='right') Workers:
				td.workers
					a(href="/workers/restart") Restart Workers
			tr
				td(colspan=2)
					a(href="/reload") Restart Everything
