doctype html
html
	head
		title Shepherd Console
		meta(charset="utf-8")
		script(src="/static/bling.js")
		script.
			var opts = JSON.parse('!{opts}'),
				tree = JSON.parse('!{tree}');
			$(document).ready(function() {
				var start = $.now
				$("td.opts").append($.toHTML(opts))
				console.log("rendering opts:", ($.now - start), "ms")
				start = $.now
				$("td.tree").append($.toHTML(tree))
				console.log("rendering tree:", ($.now - start), "ms")
				// $("table td.k").attr("valign", "top").attr("align", "right")
			})
	body
		h1 Shepherd Console
		table
			tr
				td.k Hostname:
				td #{hostname}
			tr
				td.k(valign='top',align='right') Opts:
				td(class='opts')
			tr
				td.k(valign='top',align='right') Tree:
				td(class='tree')

		
